& > .input-component {
  min-width: 20px;

  &:focus {
    outline: none;
  }

  &[contenteditable]:empty::before {
    content: "add more people…";
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #C3C2CF;
  }
}
